 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
}


th {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    padding: 12px;
	
}


td {
    padding: 10px;
    text-align: center;
}


tr:nth-child(even) {
    background-color: lightgreen;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:hover{
	background-color:#ddd;
}

